.landing
  .hero-block.container-fluid
    .wiggle-logo
      = image_tag('content/landing/wiggle-logo.png')
    %h1 Why should designers have all the fun
    = render({:partial => 'landing/partials/form'})

    %div
      = button_with_link('Sign in with Google', user_omniauth_authorize_path(:google_oauth2), {:class => 'login'})
    .more-down
      %p Learn more
      %p
        %a{:href => "#features"}
          = image_tag('content/landing/down-arrow.png')

  #features.container
    .row
      = feature_landing('no-code feature-icon', 'No code', 'Not a designer or developer? No problem! Point and click to animate any element of your website.')
      = feature_landing('conversions feature-icon', 'Increase conversions', "Instantly increase your conversions by animating your call to action buttons. Catch your audience's attention and stand out from the crowd.")
      = feature_landing('no-boring feature-icon', 'No more boring sites', 'With over 70 animations and transitions, you never have to create a boring, generic site again.')

  = title ('Wiggle Landing')

  .try-for-free.container-fluid
    %h3 Try Wiggle for free
    = render({:partial => 'landing/partials/form'})

    .footer-info-links.row
      .info-links.col-md-6
        %a{:href => "#"} Help
        %a{:href => "#"} Terms and Conditions
      .cr-info-block.col-md-6
        %p Supers LLC 2015
