= simple_form_for([user], :remote => true, :html => {:class => 'settings-block row'}) do |f|
  %header.col-xs-12 Account info
  .col-md-6.col-lg-7.main-info
    .form-group
      %label Website URL
      = f.input(:website_url, :label => false, :input_html => {:readonly => true, :value => user.websites.first.url})
    .form-group
      %label Gmail account
      = f.input(:email, :label => false)
    .form-group
      %label First name
      = f.input(:first_name, :label => false)
    .form-group
      %label Last name
      = f.input(:last_name, :label => false)
    .submit-form-group.form-group
      = f.button(:submit, 'Save', :wrapper => false, :class => 'submit-changes')